    /****** This is the CSS *******/
    
    @import url("//hello.myfonts.net/count/3311c0");
    @font-face {
        font-family: 'AlethiaPro-Regular';
        src: url('webfonts/3311C0_0_0.eot');
        src: url('webfonts/3311C0_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3311C0_0_0.woff2') format('woff2'), url('webfonts/3311C0_0_0.woff') format('woff'), url('webfonts/3311C0_0_0.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'alethiaPro-Regular';
        src: url('fonts/alethiaPro-Regular.otf');
    }
    
    @font-face {
        font-family: 'geomanist-bold';
        src: url('fonts/geomanist-bold/geomanist-bold.eot');
        /* IE9 Compat Modes */
        src: url('fonts/geomanist-bold/geomanist-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/geomanist-bold/geomanist-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/geomanist-bold/geomanist-bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/geomanist-bold/geomanist-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/geomanist-bold/geomanist-bold.svg#svgFontName') format('svg');
        /* Legacy iOS */
    }
    
    @font-face {
        font-family: 'geomanist-regular';
        src: url('fonts/geomanist-regular/geomanist-regular.eot');
        /* IE9 Compat Modes */
        src: url('fonts/geomanist-regular/geomanist-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/geomanist-regular/geomanist-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/geomanist-regular/geomanist-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/geomanist-regular/geomanist-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/geomanist-regular/geomanist-regular.svg#svgFontName') format('svg');
        /* Legacy iOS */
    }
    
    @font-face {
        font-family: 'geomanist-light';
        src: url('fonts/geomanist-light/geomanist-light.eot');
        /* IE9 Compat Modes */
        src: url('fonts/geomanist-light/geomanist-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/geomanist-light/geomanist-light.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/geomanist-light/geomanist-light.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/geomanist-light/geomanist-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/geomanist-light/geomanist-light.svg#svgFontName') format('svg');
        /* Legacy iOS */
    }
    /****** Typography Styling *******/
    
    a,
    p,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.6;
        letter-spacing: 0.6px;
    }
    
    a {
        font-family: 'geomanist-light';
        color: crimson;
    }
    
    p {
        font-size: 14px;
        font-family: 'geomanist-light';
    }
    
    h1 {
        font-size: 48px;
        font-family: 'alethiapro-regular';
        line-height: 1.4;
        letter-spacing: 1.4px;
    }
    
    h2 {
        font-size: 31px;
        font-family: 'alethiapro-regular';
    }
    
    h3 {
        font-size: 26px;
        font-family: 'alethiapro-regular';
    }
    
    h4 {
        font-size: 21px;
        font-family: 'geomanist-light';
    }
    
    h5 {
        font-size: 16px;
        font-family: 'geomanist-light';
        color: darkgray;
    }
    /****** Header & Jumbotron Styling ******/
    
    .header-menu {
        padding-top: 40px;
        padding-bottom: 24px;
    }
    
    body {
        background-color: #fff;
    }
    
    .profile {
        color: #151515;
        margin-top: 32px;
        width: 88%;
    }
    
    .profile h1 {
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'alethiapro-regular';
    }
    
    .profile h1 a {
        font-family: 'alethiapro-regular';
    }
    
    h1 a:hover {
        color: #ff2b55;
        text-decoration: none;
    }
    /****** Transitions ******/
    
    img,
    .view-project,
    .project-title,
    .navbar li a,
    .project-overlay,
    .menu-overlay ul li a,
    .menu-overlay ul li a:hover,
    .project-image:hover .view-project,
    .project-image:hover .view-project:hover,
    .project-image:hover .project-overlay,
    .project-image:hover .project-title,
    .mailto,
    .mailto:hover {
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    /****** Project Styling ******/
    
    section {
        margin-top: 32px;
        margin-bottom: 56px;
    }
    
    .section-title {
        margin-bottom: 24px;
    }
    
    img {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    
    .project-image {
        position: relative;
    }
    
    .project-details {
        text-align: center;
        position: absolute;
        top: 32%;
        left: 0;
        right: 0;
    }
    
    .view-project {
        padding: 12px 24px 12px 24px;
        border: 2px solid #fff;
        background-color: Transparent;
        color: #ffffff;
        font-family: 'noway-regular';
        text-transform: uppercase;
        letter-spacing: 1.4px;
        opacity: 0;
    }
    
    .project-image:hover .view-project {
        background-color: transparent;
        color: #ffffff;
        opacity: 1;
    }
    
    .project-image:hover .view-project:hover {
        border: 2px solid #fff;
        background-color: #ffffff;
        color: #000000;
        font-family: 'noway-regular';
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    
    .project-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
    }
    
    .project-image:hover .project-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }
    
    .project-title {
        color: aliceblue;
        opacity: 0;
    }
    
    .project-image:hover .project-title {
        opacity: 1;
    }
    /****** Footer Styling ******/
    
    footer {
        padding: 32px;
        background-color: #ffffff;
        padding-bottom: 72px;
    }
    
    .footer-logo {
        width: 96px;
        height: 96px;
    }
    
    .footer-links ul {
        padding-left: 0;
    }
    
    .footer-links ul li {
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style: none;
        float: left;
    }
    
    .footer-links ul li p {
        float: left;
        margin: 0;
        padding: 0;
        width: 80px;
    }
    
    .footer-links ul li a {
        color: darkgrey;
    }
    
    .footer-logo,
    .footer-links,
    .footer-logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .footer-contact h3 {
        margin-bottom: 20px;
    }
    
    .footer-contact a:hover {
        text-decoration: none;
    }
    
    .mailto {
        font-family: 'geomanist-light';
        font-size: 21px;
        margin-top: 48px;
        padding: 12px;
        padding-left: 24px;
        padding-right: 24px;
        border: 2px solid #CF003F;
    }
    
    .mailto:hover {
        color: aliceblue;
        background: #CF003F;
        cursor: pointer;
    }
    /****** Back To Top Button *******/
    
    .cd-top {
        display: inline-block;
        height: 56px;
        width: 56px;
        position: fixed;
        bottom: 48px;
        right: 48px;
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: rgba(16, 16, 16, 1) url(http://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .cd-top:hover {
        background-color: #FA2D30
    }
    
    .cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 0;
    }
    
    .cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .8;
    }
    
    .no-touch .cd-top:hover {
        background-color: #e86256;
        opacity: 1;
    }
    
    @media only screen and (max-width: 475px) {
        .cd-top {
            right: 20px;
            bottom: 20px;
        }
        /****** Typography Styling - Mobile *******/
        a,
        p,
        h2,
        h3,
        h4,
        h5 {
            line-height: 1.6;
            letter-spacing: 0.6px;
        }
        a {
            font-family: 'geomanist-light';
            color: crimson;
        }
        p {
            font-size: 16px;
            font-family: 'geomanist-regular';
        }
        h1 {
            font-size: 32px;
            font-family: 'alethiapro-regular';
            line-height: 1.4;
            letter-spacing: 1.4px;
        }
        h2 {
            font-size: 24px;
            font-family: 'alethiapro-regular';
        }
        h3 {
            font-size: 20px;
            font-family: 'alethiapro-regular';
        }
        h4 {
            font-size: 18px;
            font-family: 'geomanist-light';
        }
        h5 {
            font-size: 16px;
            font-family: 'geomanist-light';
            color: darkgray;
        }
        /****** Profile Styling - Mobile *******/
        .profile {
            color: #151515;
            margin-top: 24px;
            width: 100%;
        }
        .profile h1 {
            font-family: 'alethiapro-regular',
        }
    }
    
    @media only screen and (min-width: 1024px) {
        .cd-top {
            height: 60px;
            width: 60px;
            right: 30px;
            bottom: 30px;
        }
    }
