/****** Font Declaration  ******/

@font-face {
    font-family: 'alethiaPro-Regular';
    src: url('fonts/alethiaPro-Regular.otf');
}

@font-face {
    font-family: 'geomanist-bold';
    src: url('fonts/geomanist-bold/geomanist-bold.eot');
    /* IE9 Compat Modes */
    src: url('fonts/geomanist-bold/geomanist-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/geomanist-bold/geomanist-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/geomanist-bold/geomanist-bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/geomanist-bold/geomanist-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/geomanist-bold/geomanist-bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'geomanist-regular';
    src: url('fonts/geomanist-regular/geomanist-regular.eot');
    /* IE9 Compat Modes */
    src: url('fonts/geomanist-regular/geomanist-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/geomanist-regular/geomanist-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/geomanist-regular/geomanist-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/geomanist-regular/geomanist-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/geomanist-regular/geomanist-regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'geomanist-light';
    src: url('fonts/geomanist-light/geomanist-light.eot');
    /* IE9 Compat Modes */
    src: url('fonts/geomanist-light/geomanist-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/geomanist-light/geomanist-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/geomanist-light/geomanist-light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/geomanist-light/geomanist-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/geomanist-light/geomanist-light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/****** Typography Styling *******/

a,
p,
h2,
h3,
h4,
h5 {
    line-height: 1.6;
    letter-spacing: 0.6px;
}

a {
    font-family: 'geomanist-light';
    color: crimson;
}

p {
    font-size: 14px;
    font-family: 'geomanist-light';
}

h1 {
    font-size: 48px;
    font-family: 'alethiapro-regular';
    line-height: 1.4;
    letter-spacing: 1.4px;
}

h2 {
    font-size: 31px;
    font-family: 'alethiapro-regular';
}

h3 {
    font-size: 26px;
    font-family: 'alethiapro-regular';
}

h4 {
    font-size: 21px;
    font-family: 'geomanist-light';
}

h5 {
    font-size: 16px;
    font-family: 'geomanist-light';
    color: darkgray;
}


/****** Project Header Styling ******/

.header-menu {
    padding-top: 40px;
    padding-bottom: 24px;
    margin: 0 auto;
    text-align: center;
}

.header-logo {
    width: 96px;
    height: 96px;
}

.project-intro {
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
    width: 64%;
}

section {
    margin-top: 72px;
    margin-bottom: 72px;
}

.project-title h1 {
    padding: 0 auto;
    margin: 0 auto;
}

.project-description {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.project-description h4 {
    opacity: 0.6;
    margin: 0 auto;
    padding: 16px 0 16px 0;
}

.project-description p {
    font-family: 'geomanist-light';
    font-size: 22px;
}

.project-divider {
    margin: 0 auto;
    background-color: #bfbfbf;
    height: 2px;
    width: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
}


/****** Transitions ******/

a,
img,
.next-project,
.navbar li a,
.project-overlay,
.social a,
a:hover,
.social a:hover,
.navbar li a:hover,
.next-project:hover,
.project-image:hover .view-project,
.project-image:hover .view-project:hover,
.project-image:hover .project-overlay,
.project-image:hover .project-title {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


/****** Header & Jumbotron Styling ******/

.project-jumbo {
    width: 100%;
    margin: 0 auto;
}


/****** Project Styling ******/

img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}


/****** Footer Styling ******/

.next-project {
    padding: 56px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 56px;
}

.next-link a {
    color: #000;
    ;
}

.next-link a:hover {
    color: #CF003F;
    text-decoration: none;
}

footer {
    padding: 32px;
    background-color: #ffffff;
    padding-bottom: 72px;
}

.footer-logo {
    width: 96px;
    height: 96px;
}

.footer-links ul {
    padding-left: 0;
}

.footer-links ul li {
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    float: left;
}

.footer-links ul li p {
    float: left;
    margin: 0;
    padding: 0;
    width: 80px;
}

.footer-links ul li a {
    color: darkgrey;
}

.footer-logo,
.footer-links,
.footer-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-contact h3 {
    margin-bottom: 20px;
}

.footer-contact a:hover {
    text-decoration: none;
}

.mailto {
    font-family: 'geomanist-light';
    font-size: 21px;
    margin-top: 48px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px solid #CF003F;
}

.mailto:hover {
    color: aliceblue;
    background: #CF003F;
    cursor: pointer;
}


/****** Back To Top Button *******/

.cd-top {
    display: inline-block;
    height: 56px;
    width: 56px;
    position: fixed;
    bottom: 72px;
    right: 72px;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(16, 16, 16, 1) url(http://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top:hover {
    background-color: #FA2D30
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 0;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .8;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


/* Media Queries Mobile Devices */

@media screen and (max-width: 475px) {
    /****** Typography Styling - Mobile *******/
    a,
    p,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.6;
        letter-spacing: 0.6px;
    }
    a {
        font-family: 'geomanist-light';
        color: crimson;
    }
    p {
        font-size: 16px;
        font-family: 'geomanist-regular';
    }
    h1 {
        font-size: 20px;
        font-family: 'alethiapro-regular';
        line-height: 1.4;
        letter-spacing: 1.4px;
    }
    h2 {
        font-size: 24px;
        font-family: 'alethiapro-regular';
    }
    h3 {
        font-size: 20px;
        font-family: 'alethiapro-regular';
    }
    h4 {
        font-size: 18px;
        font-family: 'geomanist-light';
    }
    h5 {
        font-size: 16px;
        font-family: 'geomanist-light';
        color: darkgray;
    }
    .project-intro {
        margin: 0 auto;
        text-align: center;
        margin-top: 24px;
        width: 88%;
    }
    .project-description p {
        font-family: 'geomanist-light';
        font-size: 18px;
    }
    section {
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .next-project {
        padding: 24px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    footer {
        background-color: #ffffff;
    }
    .footer-contact h3 {
        margin-bottom: 20px;
        font-size: 20px;
    }
}
